.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Navbar {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  background-color: #282c34;
  width: 100%;
  height: 5em;
  margin: 0 auto; 
}

.Navbar-button{
  color: #5a5d7a;
  font-family: 'Roboto Mono', monospace;
  font-size: 19px;
  position: relative;
  text-decoration: none;
  padding: 20px;
}

.App-header__name{
  color: #747fe0;
  font-family: 'Roboto Mono', monospace;
}




@media (max-width: 768px) {

  .App-header {
    padding-left: 0;
    align-items: center;
  }
  

}
